/*comienzo landing_mobile.html main Rosana*/

.p2_card img {
    width: 300px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: gray;
    
  }
  .piefoto {
    margin: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .p2_precio {
    color: #f85e9f;
    margin-left: 40px;
  }
  .p2_destino {
    color: black;
    font-weight: bold;
    margin-left: 40px;
  }
  .p2_maintop {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
  }
  
  /*Fin landing_mobile.html main Rosana*/