<footer>
  <section class="arriba">
    <div class="logo">
      <img
        src="./images/Logo_png.png"
        width="50px"
        height="50px"
        alt="logo adatravel"
      />
    </div>
    <h1 class="empresa">Ada Travel</h1>
  </section>
  <section class="rrss">
    <a href="www.facebook.com" class="rrss_link"
      ><i class="fb fa-brands fa-facebook-f fa-1x"></i
    ></a>
    <a href="www.twitter.com" class="rrss_link"
      ><i class="tw fa-brands fa-twitter fa-1x"></i
    ></a>
    <a href="www.instagram.com" class="rrss_link"
      ><i class="fa-brands fa-instagram fa-1x"></i
    ></a>
  </section>
  <ul class="navigation">
    <li><a class="nav" href="#">Home</a></li>
    <li><a class="nav" href="#">Nosotros</a></li>
    <li><a class="nav" href="#">Contacto</a></li>
  </ul>
</footer>
