<header class="header">
  <div class="logo_header">
    <img
      src="./images/Logo_png.png"
      width="50px"
      height="50px"
      alt="Imagen del logo de Ada viajes"
    />
    <h1 class="title">Ada Travel</h1>
  </div>
  <button class="menu">&#9776;</button>
  <nav class="main-nav">
    <a class="link" href="https://adalab.es/">Home</a>
    <a class="link-precios" href="https://adalab.es/">Precios espaciales</a>
    <a class="link" href="#contacto">Contáctanos</a>
  </nav>
</header>
