<section class="beneficios">
  <h2>Mejores servicios</h2>
  <ul class="benefits-list">
    <li>
      <div>
        <span class="icon"
          ><img
            src="./images/iconos_landing_p4/location.png"
            alt="Es el simbolo de ubicación"
        /></span>
        <h3>Location.</h3>
        <p>Más cerca de ti.</p>
      </div>
    </li>

    <li>
      <div>
        <span class="icon"
          ><img
            src="./images/iconos_landing_p4/calendar.png"
            width=""
            alt=" Es el icono de calendario"
        /></span>
        <h3>Programa tu viaje</h3>
        <p>Encuentra tu fecha ideal.</p>
      </div>
    </li>

    <li>
      <div>
        <span class="icon"
          ><img
            src="./images/iconos_landing_p4/rosa.png"
            alt="Icono de tiquetes"
        /></span>
        <h3>Con nosotros todas tus visitas guiadas</h3>
        <p>
          No te pierdas nada. Con nosotros tienes tus visitas guiadas. Conoce,
          disfruta y diviértete
        </p>
      </div>
    </li>
  </ul>
</section>
