<section class="fotos">
  <img
    class="ocean"
    src="./images/LandingP1/ocean.png"
    width="139.6px"
    height="154px"
    alt="el mar"
  />
  <img
    class="mountain"
    src="./images/LandingP1/mountain.png"
    width="139.6px"
    height="154px"
    alt="montaña"
  />
  <img
    class="photo"
    src="./images/LandingP1/photo.png"
    width="139.6"
    height="205.3"
    alt="chica tomando foto"
  />
</section>

<h3 class="travel">
  Travel <span class="top">top destination</span> of the world
</h3>

<p class="get">Get Started</p>
