<section class="imagenes_predefinidas">
<!--caja 1-->
  <img src="./images/chica.png" alt="foto con una chica con maleta y mochila de viaje con un comentario que hay descuentos en los precios" class="chica"/>
  <article class="caja_chica">
    <div class="travel_point">
      <h3 class="travel_point-titulo"> travel point</h3>
      <p class="travel_point-description">Lorem ipsum, catt oiyhgr hklop</p>
    </div>
    <div class="cuadrados">
      <div class="cuadrado1">
        <h3 class="numeros">500+</h3>
        <p class="letras">fiestas</p>
      </div>
      <div class="cuadrado2">
        <h3 class="numeros">100</h3>
        <p class="letras">hoteles de lujo</p>
      </div>
    </div>
  </article>
<!--caja 2-->
  <article class="caja_iglesia">
    <div class="mejores_servicios">
      <h3 class="lorem_titulo">lorem</h3>
      <p class="mejores_servicios-texto">mejores servicios</p>
    </div>
    <div class="iconos_con_texto">
      <div class="iconomapa">
        <img src="/images/iconos_landing_p4/location.png" alt="logo de ubicación" class="logo_mapa">
        <div class="texto1">
          <h4 class="lorem1">lorem</h4>
          <p class="description1">lorem ipsum is not simply random text</p>
        </div>
      </div>
      <div class="iconocalendar">
        <img src="/images/iconos_landing_p4/calendar.png" alt="icono de un calendario" class="logo_calendar">
        <div class="texto2">
          <h4 class="lorem2">lorem</h4>
          <p class="description2">it has roots in a place of classical</p>
        </div>
      </div>
      <div class="iconoticket">
        <img src="/images/iconos_landing_p4/rosa.png" alt="logo de un ticket" class="logo_ticket">
        <div class="texto3">
        <h4 class="lorem3">lorem</h4>
        <p class="description3">lorem ipsum is not simply random text</p>
        </div>
      </div>
    </div> <!--iconos con texto-->
  </article>
  <img src="./images/iglesia.png" alt="fotos de paraíso en la tierra con una iglesia y un chico haciendo surf" class="iglesia"/>
</section>