
<section class="p2_maintop">
  <h2>TOP DESTINATION</h2>
  <div class="p2_card">
    <img src="./images/playa.png" alt="imagen playa" />
    <div class="p2_piefoto">
      <p class="p2_precio">$20.99</p>
      <p class="p2_destino">Lorem</p>
    </div>
    <link rel="stylesheet" href="../scss/sections_landing/_p2.scss">
  </div>
</section>
  <section class="p2_maintop" >
    <div class="p2_card">
      <img src="./images/pez.png" alt="imagen pez">
      <div class="p2_piefoto">
        <p class="p2_precio">$20.99</p>
        <p class="p2_destino">Lorem</p>
      </div>
  </section>

    <section class="p2_maintop" >
      <div class="p2_card">
        <img src="./images/montanas.png" alt="imagen montañas">
        <div class="p2_piefoto">
          <p class="p2_precio">$150.99</p>
          <p class="p2_destino">Lorem</p>
      </div>
    </section>