<section class="beneficios">
  <h2>Mejores servicios</h2>
  <ul class="benefits-list">
    <li>
      <div>
        <span class="icon"
          ><img
            src="./images/iconos_landing_p4/location.png"
            alt="Es el simbolo de ubicación"
        /></span>
        <h3>Lorem</h3>
        <p>Loren ipsum in not a simply random text</p>
      </div>
    </li>

    <li>
      <div>
        <span class="icon"
          ><img
            src="./images/iconos_landing_p4/calendar.png"
            width=""
            alt=" Es el icono de calendario"
        /></span>
        <h3>Lorem</h3>
        <p>It has roots in a place of classical</p>
      </div>
    </li>

    <li>
      <div>
        <span class="icon"
          ><img
            src="./images/iconos_landing_p4/rosa.png"
            alt="Icono de tiquetes"
        /></span>
        <h3>Lorem</h3>
        <p>Lorem ipsum is not simply random text.</p>
      </div>
    </li>
  </ul>
</section>
