@use './header_mobile.scss';
@use './sections_landing/p1';
@use './sections_landing/p2';
@use './sections_landing/p3';
@use './sections_landing/p4';
@use './footer_mobile.scss';
@use './sections_contact/contact_main.scss';

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  display: flex;
  gap: 10px;
}


